import React from 'react';
import {fireEvent, render} from 'react-testing-library';

import Accordion from '../Accordion';

describe('Accordion', () => {
	const items = [
		{
			body: 'Accordion Body',
			title: 'Accordion Title'
		}
	];

	it('opens up when the title is clicked', () => {
		const {getByText, queryByText} = render(<Accordion items={items} />);

		expect(queryByText('Accordion Body')).toBeNull();

		fireEvent.click(getByText('Accordion Title'));

		expect(getByText('Accordion Body').not.toBeNull());
	});
});
