import React from 'react';

import Adapter from 'enzyme-adapter-react-16';
import Enzyme, {shallow} from 'enzyme';

import Accordion from '../Accordion';

Enzyme.configure({adapter: new Adapter()});

describe('Accordion', () => {
	const items = [
		{
			body: 'Accordion Body',
			title: 'Accordion Title'
		}
	];

	it('shallow renders', () => {
		const wrapper = shallow(<Accordion items={items} />);

		console.log(wrapper.debug());
	});
});
